html body div div#button-generate{
  display: flex;
  justify-content: center;
}

html body div div#planet-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

html body div div#planet-buttons ul#planets{
  list-style: none;
}

html body div div#planet-buttons ul#planets li div span{
  margin-left: 10px;
}

